.btn {
    width: 100px;
    height: 50px;
    border-radius: 2px solid;
}
.psize {
    font-size: 5vw;
}
.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    user-select: none;
}

.container p {
    margin: 60px 5px 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    user-select: none;
}

.button-container button {
    margin: 10px;
    width: fit-content;
    padding: 10px 40px;
    max-width: 300px;
    background: gray;
    border-radius: 10px;
    border: none;
    outline: unset;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    opacity: .7;
    cursor: pointer;
    transition: .1s ease;
}



.button-container button:hover {
    background: #1ecaab;
    opacity: 1;
}